In [2]:
import numpy as np
import matplotlib.pyplot as plt
from math import sqrt, exp
import random

A1

In [3]:
#A1
def beta_1(X, N):
  sum1 = 0 
  sum2 = 0 
  sum3 = 0 
  sum4 = 0 
 
  for i in range(1,N):
    sum1 += X[i]*X[i-1] 
    sum2 += X[i] 
    sum3 += X[i-1] 
    sum4 += X[i-1] ** 2 
  beta1 = (N**(-1) * sum1 - N**(-2)*sum2*sum3) / (N**(-1) * sum4 - N**(-2)* sum3 ** 2) 
  return(beta1)



def beta_2(X, N, beta1):
  sum5 = 0 
  for i in range(1, N): 
    sum5+=X[i]- beta1*X[i-1] 
  beta2 = (N**(-1) * sum5)/ (1 - beta1) 
  return(beta2)

def beta_3(X, N, beta1, beta2):
  sum6 = 0 
  for i in range(1, N): 
    sum6+=(X[i] - beta1*X[i-1] - beta2*(1-beta1))**2 
  beta3=N**(-1)*sum6 
  return(beta3)

In [4]:
def theta_2(X, delta, n):
  sum_2 = 0
  sum_3 = 0
  for i in range(1,N):
    sum_2 += X[i]*X[i-1] 
    sum_3 += X[i-1] ** 2
  theta_22 = -np.log(sum_2 / sum_3) / delta
  return theta_22

def theta_3(X, delta, n, t_2_n):
  sum_4 = 0
  for i in range(1,N):
    sum_4 += (X[i] - X[i - 1] * np.exp(-delta * t_2_n)) ** 2
  theta_33 = (2 * t_2_n) / (n * (1 - np.exp(-2 * delta * t_2_n))) * sum_4
  return theta_33

In [30]:
def OU(X, kappa, alpha, sigma, dW, dt):
    dX = kappa * (alpha - X) * dt + sigma * dW
    return dX


kappa = 3
alpha = 1
sigma = 2
print(kappa, alpha, sigma)
N = 1000
delta = 1/N
x = 10
n = 1000
theta_ = np.zeros((n, 3))

for j in range(n):
  dW = np.random.normal(0, np.sqrt(1/N), N)
  X = np.zeros(N)
  X[0] = x
 
  for i in range(1,N):
    X[i] = X[i-1] + OU(X[i-1], kappa, alpha, sigma, dW[i], 1/N)
  

  beta1 = beta_1(X, N)
  beta2 = beta_2(X, N, beta1)
  beta3 = beta_3(X, N, beta1, beta2)
 

  kappa2 = (-1 / delta)*np.log(beta1) 
  alpha2 = beta2 
  sigma2 = np.sqrt(2 * kappa2 * beta3 / (1 - beta1 ** 2))

  theta_[j] = kappa2, alpha2, sigma2

  #theta1 = kappa*alpha 
  #theta2 = kappa 
  #theta3 = sigma 


print(np.mean(theta_, axis=0))

3 1 2
[3.26093708 0.95518411 1.99926287]

In [40]:
#A2

kappa = 0
alpha = 3
sigma = 2
N = 1000
delta = 1/N

dW = np.random.normal(0, np.sqrt(1/N), N)
X = np.zeros(N)
X[0] = 10
 
for i in range(1,N):
  X[i] = X[i-1] + OU(X[i-1], kappa, alpha, sigma, dW[i], 1/N)
  


t2 = theta_2(X, delta, N)
t3 = np.sqrt(theta_3(X, delta, N, t2))
print(t2)
print(t3)

0.2977353901897335
1.9910023405382167